body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: right;
  direction: rtl;
}

.game-container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 800px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.card {
    width: 120px;
    height: 120px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    background-color: #4682B4;
    border: 3px solid #4682B4;
}

.card-front {
    transform: rotateY(180deg);
    background-color: white;
    border: 3px solid #4682B4;
}

.card-front img, .card-back img {
    max-width: 90%;
    max-height: 90%;
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-back img {
    /* width: 110px;
    height: 110px; */
    border-radius: 10px;
    object-fit: contain;
}

.game-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}

.game-result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}